html, body{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	/*background-color: rgb(79,79,79);*/
}
@font-face {
    font-family: "Matchbook";
    src: url(./fonts/Matchbook.ttf);
}
@font-face {
    font-family: "clearSans";
    src: url(./fonts/clear-sans/ClearSans-Light.ttf);
}


html, body{
	font-family: "clearSans", Helvetica;
	width:100%;
	height:100%;
	overflow: hidden;
	margin:0;
	padding:0;
}

#container{
	margin: 0;
	padding: 0;

	display:block;
	position:relative;

	width:100%;
	height:100%;

	background-color: rgb(39,39,39);
}	
.orange{
	color:rgb(252,120,43);
}
#patchbayTitle{
	position:absolute;
	top:0px;
	left:63%;
	margin-top: 20px;
	font-family: "Matchbook", Helvetica;
	font-size: 7em;
	color:white;
}
#routerContainer{
	position:absolute;
	display: block;
	width:100%;
	height:100%;

	top:0%;
	left:0%;

	background-color: rgb(39,39,39);
}
canvas{
	position:absolute;
	left:0px;
	top:0px;
}

.interface_top_right{
	position: absolute;
	display: block;
	top:5%;
	right:5px;
}

#scanButton {
	position: relative;
	/*width:10%;*/

	text-align: center;
	color:rgb(39,39,39);
	cursor:pointer;
	background-color: rgb(176,176,176);

	padding:1px 20px 1px 20px;
	margin:0;
	border-radius: 3px;
}

#discovery {
	position: relative;
	display: inline-block;
	width:100%;
	text-align: right;
	color:white;
	display:none;
}