html, body{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	/*background-color: rgb(79,79,79);*/
}
@font-face {
    font-family: "Matchbook";
    src: url(./fonts/Matchbook.ttf);
}
@font-face {
    font-family: "clearSans";
    src: url(./fonts/clear-sans/ClearSans-Light.ttf);
}


html, body{
	font-family: "clearSans", Helvetica;
	width:100%;
	height:100%;
	overflow: hidden;
	margin:0;
	padding:0;
}

#container{
	margin: 0;
	padding: 0;

	display:block;
	position:relative;

	width:100%;
	height:100%;

	background-color: rgb(39,39,39);
}	
.orange{
	color:rgb(252,120,43);
}
#patchbayTitle{
	position:absolute;
	top:0px;
	left:63%;
	margin-top: 20px;
	font-family: "Matchbook", Helvetica;
	font-size: 7em;
	color:white;
}
#routerContainer{
	position:absolute;
	display: block;
	width:100%;
	height:100%;

	top:0%;
	left:0%;

	background-color: rgb(39,39,39);
}
canvas{
	position:absolute;
	left:0px;
	top:0px;
}

.interface_top_right{
	position: absolute;
	display: block;
	top:5%;
	right:5px;
}

#title{
	position: relative;
	display: block;

	text-align: right;

	font-size: 4rem;
	color: rgb(176,176,176);
}

#waitSign{

	position:absolute;
	top:32%;
	left:36%;

	width:28%;
	height:35%;
	text-align: center;

	background-color: rgba(0,0,0,0.2);
	/*border: 4px solid white;*/
	color:white;

	border-radius: 10px;

	font-size: 4rem;

	display:none;
}

#load_wheel{
	width:70%;
	margin-top: 12%;

	transform: translate(-50%,-50%);
    transform-origin: 50% 50%;
    animation: rotateWheel 2s linear infinite;

    -webkit-transform: translate(-50%,-50%);
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: rotateWheel 2s linear infinite;

    -moz-transform: translate(-50%,-50%);
    -moz-transform-origin: 50% 50%;
    -moz-animation: rotateWheel 2s linear infinite;

    -ms-transform: translate(-50%,-50%);
    -ms-transform-origin: 50% 50%;
    -ms-animation: rotateWheel 2s linear infinite;
}

@keyframes rotateWheel {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@-webkit-keyframes rotateWheel {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotateWheel {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

#scanButton {
	position: relative;
	/*width:10%;*/

	text-align: center;
	color:rgb(39,39,39);
	cursor:pointer;
	background-color: rgb(79,79,79);

	width:100px;

	padding:1px 20px 1px 20px;
	margin:0;
	margin-top:20px;
	margin-left:115px;
	border-radius: 3px;
}

#discovery {
	position: relative;
	display: inline-block;
	width:100px;
	text-align: right;
	color:white;
	margin-left:140px;
	display:none;
}